@{
    ViewData["Title"] = "Access Denied";
}

<div class="container" style="margin-top:40px;">
    <div class="card p-4">
        <h4>Access Denied</h4>
        <p>You do not have permission to view this page.</p>
        <a class="btn btn-primary" href="/Account/Login">Return to Login</a>
    </div>
</div>
